* {box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}

.container {
	max-width: 1000;
	margin: 0 auto;
}

.welcome {
	background: #fff;
}

.hero {
	background: url("https://static.pexels.com/photos/132983/pexels-photo-132983.jpeg");
	background-size: cover;
	height: 100vh;
	text-align: center;
	text-transform: uppercase;
	color: #42555D;
	padding-top: 40vh;
}

h1 {
	font-size: /*Execute order*/ 66px;
	letter-spacing: -5px;
	margin: 0;
	text-transform: uppercase;
}

.hero h3 {
	font-size: 18px;
	color: #947E67;
	margin: 0;
	margin-bottom: 8px;
	line-height: 10px;
	word-spacing: 10px;
	letter-spacing: -1px;
}

.hero ul {
	list-style-type: none;
	padding-left: 0;
	word-spacing: 10px;
	float: center;
}

.hero ul li {
	display: inline-block;
	font-size: 18px;
}

.hero nav a {
	text-decoration: none;
	color: #42555D;
}

.hero nav a:hover {
	border-top: 1px solid #42555D;
	border-bottom: 1px solid #42555D;
}

.navbar-fixed {
	position: fixed;
    top: 0;
	padding-top: 10px;
    width: 100%;
	background: rgba(255, 255, 255, 0.8);
	transition: 0.8s;
}

.hero .fa-arrow-circle-o-down {
	position: fixed;
	top: 80vh;
	left: 47%;
	font-size: 100px;
	color: rgba(255, 255, 255, 0.5);
	transition: 0.6s;
}

.hero .fa-arrow-circle-o-down:hover {
	color: rgba(255, 255, 255, 1);
	transition: 0.4s;
	cursor: pointer;
}

.content {
	height: 100vh;
	color: #42555D;
}

.content .title {
	margin-top: 60px;
	text-align: center;
	color: #947E67;
}

.main  .col {
	margin: 0;
	height: 500px;
}

.main .col img {
	margin: auto;
	margin-top: 50px;
}

.main .col p {
	margin-top: 200px;
}

.skills {
}

.portfolio {
	
}

.hobby {
	
}

.contact {
	background: #2B3133;
}